.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Set the height of the container to fill the viewport */
}

.main {
  flex: 1; /* Allow the main section to take up remaining available space */
  padding: 20px;
}