body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  height: 600px; /* Set a fixed height for the container */
  overflow: auto; /* Add scrolling to the container */
}

.players-title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.players-list {
  list-style: none;
  padding: 0;
}

.loading{
  font-size: 40px;
}